<nav>
    <div class="site-title">
        <a href="/about"> <p>A Net Ninja Site</p></a>
       
    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs-create">New Blog</a></li>
    </ul>
</nav>