<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusantium voluptates officiis et fugit excepturi sint nesciunt sed vero, quo deleniti iure commodi dicta eum, omnis asperiores nam quisquam iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusantium voluptates officiis et fugit excepturi sint nesciunt sed vero, quo deleniti iure commodi dicta eum, omnis asperiores nam quisquam iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusantium voluptates officiis et fugit excepturi sint nesciunt sed vero, quo deleniti iure commodi dicta eum, omnis asperiores nam quisquam iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusantium voluptates officiis et fugit excepturi sint nesciunt sed vero, quo deleniti iure commodi dicta eum, omnis asperiores nam quisquam iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusantium voluptates officiis et fugit excepturi sint nesciunt sed vero, quo deleniti iure commodi dicta eum, omnis asperiores nam quisquam iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusantium voluptates officiis et fugit excepturi sint nesciunt sed vero, quo deleniti iure commodi dicta eum, omnis asperiores nam quisquam iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusantium voluptates officiis et fugit excepturi sint nesciunt sed vero, quo deleniti iure commodi dicta eum, omnis asperiores nam quisquam iste.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>